.form {
  background: #FFFEFB;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  padding: 24px;
  position: fixed;
  width: 284px;

  &__item {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;

    label {
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 13px;
      letter-spacing: -0.02em;
      color: #49485E;
      margin-bottom: 4px;
      display: inline-flex;
      position: relative;
    }

    input, textarea {
      padding: 10px 16px;
      border: none;
      background: #FFFEFB;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      font-family: Source Sans Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #3F3F3F;
      border: 1px solid #fff;

      &:focus-visible {
        outline: none;
      }
      &::placeholder {
        color: #b4b4b4;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
      }
      &.danger {
        border: 1px solid #FF8484 !important;
      }
    }

    textarea {
      height: 108px;
    }
  }
}

.reqiured-text {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  letter-spacing: -0.02em;
  color: #FF8484;
  visibility: hidden;

  &--visible {
    visibility: visible;
  }
}

.add-btn {
  background: #7BAE73;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  width: 100%;
  height: 36px;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  &.disabled {
    background: #EEEEEE;
    color: #B4B4B4;
    cursor: not-allowed;
  }
}

.red-circle {
  background: #FF8484;
  border-radius: 4px;
  width: 4px;
  height: 4px;
  margin-left: 2px;
}
.success-block{
  display: flex;
  justify-content: center;
  height: 50px;
  font-size: 18px;
  transition: 0.5s;
}

@media (max-width: 768px) {

  .form {
    position: relative;
    margin: 0 auto;
  }
  .form__item textarea {
    height: auto;
  }
}

@media (max-width: 1440px) {


}

